fastapi==0.128.0
uvicorn==0.40.0
pymongo==4.16.0
python-dotenv==1.2.1
weaviate-client==4.19.2
langchain==1.2.4
langchain-community==0.4.1
pypdf==6.6.0
tiktoken==0.12.0
langchain-groq==1.1.1
sentence-transformers==2.2.2
langchain-huggingface==1.2.0
torch==2.9.1
transformers==4.57.6
